<template>
  <div class="about">
    <h1>This is an about page</h1>
    <div>
      <v-btn color="success" dark>Success</v-btn>
      <v-btn color="error">Error</v-btn>
      <v-btn color="warning">Warning</v-btn>
      <v-btn color="info">Info</v-btn>
    </div>
  </div>
</template>
