<template>
  <v-container fluid>
    <v-container>
      <v-carousel>
        <v-carousel-item
          v-for="(item, i) in banners"
          :key="i"
          :src="item.src"
        ></v-carousel-item>
      </v-carousel>
      <h2 style="margin-top:30px;">What's Hot today</h2>
      <hr />
    </v-container>
  </v-container>
</template>

<script>
export default {
  name: "Home",
  props: {
    msg: String
  },
  components: {},
  data: () => ({
    openDialog: false,
    banners: [
      {
        src:
          "http://www.indomie.com/Content/images/19042018_banner_jagonya_soto.png"
      },
      {
        src: "http://www.indomie.com/Content/images/04112015_banner_awards.jpg"
      },
      {
        src:
          "https://www.idmarco.com/media/wysiwyg/idmarco/infographis/SALTED-EGG-app-banner.jpg"
      },
      {
        src: "http://www.indomie.com/Content/images/04112015_banner_history.jpg"
      }
    ]
  })
};
</script>
