<template>
  <div style="height: 100%">
    <v-container style="" fluid fill-height>
      <v-layout justify-center align-center fill-height>
        <v-flex md10>
          <v-card height="100%" style="padding: 20px">
            <div class="title">Login</div>
            <v-form v-model="valid">
              <v-text-field
                v-model="username"
                required
                label="Username"
                autofocus
                clearable
              >
              </v-text-field>
              <v-text-field
                v-model="password"
                required
                label="Password"
                clearable
                :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
                hint="At least 8 characters"
                :error-messages="passwordError"
              >
              </v-text-field>
              <div style="margin-top: 30px">
                <v-btn :disabled="!valid" @click="attemptLogin">
                  login
                </v-btn>
                <v-btn @click="clear">clear</v-btn>
                <v-btn color="info" @click="redirectForgetPassword"
                  >Forget Password</v-btn
                >
              </div>
            </v-form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ApiService from "../common/api.service";
import { mapState } from "vuex";
export default {
  name: "Login",
  props: {
    msg: String
  },
  components: {},
  data: () => ({
    username: null,
    password: null,
    showPassword: false,
    valid: false,
    passwordRule: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters"
    },
    passwordError: null
  }),
  mounted() {
    this.valid = false;
  },
  methods: {
    clear() {
      this.username = null;
      this.password = null;
    },
    submit() {
      if (this.password == "" || this.password == null) {
        this.passwordError = "Password can't be empty";
      }
    },
    attemptLogin() {
      ApiService.post("user/login", {
        email: this.username,
        password: this.password
      })
        .then(response => {
          this.user.setToken(response.data.data.token);
          this.$router.push("/");
        })
        .catch(error => {
          alert("Invalid Credentials");
          this.username = null;
          this.password = null;
        });
    },
    redirectRegister() {
      this.$router.push("/register");
    },
    redirectForgetPassword() {
      this.$router.push("/forget-password");
    }
  },
  beforeMount() {
    if (localStorage.getItem("user")) {
      this.$router.push("/");
    }
  },
  computed: {
    ...mapState(["user"])
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style></style>
