<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-layout column align-center>
            <div class="headline" style="margin-top: 10px">
              Pick your order!
            </div>
            <OrderStep />
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import OrderStep from "../components/OrderStep";

export default {
  name: "Login",
  props: {
    msg: String
  },
  components: {
    OrderStep
  },
  data: () => ({
    username: null,
    password: null,
    showPassword: false,
    valid: false,
    passwordRule: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters"
    },
    passwordError: null
  }),
  mounted() {
    this.valid = false;
  },
  methods: {
    clear() {
      this.username = null;
      this.password = null;
    },
    submit() {
      if (this.password == "" || this.password == null) {
        this.passwordError = "Password can't be empty";
      }
    }
  },
  watch: {
    password: function(value) {
      if (value == "" || value == null) {
        this.passwordError = "Password can't be empty";
      } else {
        this.passwordError = "";
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style></style>
