<template>
  <v-container fluid>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs4> </v-flex>
        <v-flex xs4>
          <v-card style="padding:20px;">
            <h3>Register</h3>
            <br />
            <form>
              <v-text-field
                v-model="name"
                label="Your name"
                required
              ></v-text-field>

              <v-text-field
                v-model="phone"
                label="Your Phone"
                required
              ></v-text-field>

              <v-text-field
                v-model="address"
                label="Your address"
                required
              ></v-text-field>

              <v-text-field
                v-model="email"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
                v-model="password"
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="password"
                hint="At least 8 characters"
                counter
                @click:append="show1 = !show1"
              ></v-text-field>

              <v-text-field
                v-model="password_confirmation"
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="verify password"
                hint="At least 8 characters"
                counter
                @click:append="show2 = !show2"
              ></v-text-field>

              <v-btn @click="register()">Register</v-btn>
              <!--<v-btn @click="clear">clear</v-btn>-->
            </form>
          </v-card>
        </v-flex>
        <v-flex xs4> </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import ApiService from "../common/api.service";
export default {
  name: "Register",
  props: {
    msg: String
  },
  components: {},
  data: () => ({
    name: null,
    email: null,
    password: null,
    password_confirmation: null,
    phone: null,
    address: null,
    show1: false,
    show2: false
  }),
  mounted() {},
  beforeMount() {
    if (localStorage.getItem("user") != null) {
      this.$router.push("/");
    }
  },
  computed: {
    ...mapState(["user"])
  },
  methods: {
    register() {
      ApiService.post("user/register", {
        name: this.name,
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation,
        phone: this.phone,
        address: this.address,
        url: "http://127.0.0.1:8080/verify"
      })
        .then(response => {
          alert("Email has been sent!");
          this.$router.push("/");
        })
        .catch(error => {
          alert("FAILED TO CREATE USER!");
        });
    }
  }
};
</script>
