<template>
  <v-container fluid>
    <h2>Report Generator</h2>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 lg6>
          <v-menu
            ref="menu1"
            v-model="menu1"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="computedDateFormatted"
                label="Date 1"
                hint="MM/DD/YYYY format"
                persistent-hint
                prepend-icon="event"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              no-title
              @input="menu1 = false"
            ></v-date-picker>
          </v-menu>
        </v-flex>

        <v-flex xs12 lg6>
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="computedDateFormatted2"
                label="Date 2"
                hint="MM/DD/YYYY format"
                persistent-hint
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date2"
              no-title
              @input="menu2 = false"
            ></v-date-picker>
          </v-menu>
        </v-flex>
      </v-layout>
      <br />
      <v-btn color="success" @click="sendRep">
        Generate
      </v-btn>
    </v-container>

    <v-container>
      <v-data-table
        :headers="headers"
        :items="report"
        class="elevation-1"
        v-if="report"
      >
        <template v-slot:items="props">
          <td>{{ props.item.OrderId }}</td>
          <td class="text-xs-middle">{{ props.item.idOrderItem }}</td>
          <td class="text-xs-middle">{{ props.item.RealPriceMenu }}</td>
          <td class="text-xs-middle">{{ props.item.sumRealPriceTopping }}</td>
          <td class="text-xs-middle">{{ props.item.discount }}</td>
          <td class="text-xs-middle">{{ props.item.order_price }}</td>
          <td class="text-xs-middle">{{ props.item.benefit }}</td>
        </template>
      </v-data-table>
    </v-container>

    <h2>Get top n combination</h2>
    <v-form v-model="valid">
      <v-container>
        <v-layout column>
          <v-flex xs12>
            <v-text-field
              v-model="age"
              label="number for n"
              min="1"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-btn color="success" @click="sendRep2">
              Generate
            </v-btn>
            <v-container>
              <v-data-table
                :headers="headers2"
                :items="reportPopular"
                class="elevation-1"
                v-if="reportPopular"
              >
                <template v-slot:items="props">
                  <td class="text-xs-middle">{{ props.item.name }}</td>
                  <td class="text-xs-middle">{{ props.item.price }}</td>
                  <td class="text-xs-middle">{{ props.item.real_price }}</td>
                </template>
              </v-data-table>
            </v-container>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-container>
</template>

<script>
import ApiService from "../common/api.service";
export default {
  name: "Report",
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    date2: new Date().toISOString().substr(0, 10),
    valid: null,
    age: null,
    menu1: false,
    menu2: false,
    headers: [
      {
        text: "Order Id",
        sortable: true,
        value: "OrderId"
      },
      {
        text: "Order Item Id",
        sortable: true,
        value: "idOrderItem"
      },
      {
        text: "Real Price Menu",
        sortable: true,
        value: "RealPriceMenu"
      },
      {
        text: "Subtotal Topping",
        sortable: true,
        value: "sumRealPriceTopping"
      },
      {
        text: "Discount",
        sortable: true,
        value: "discount"
      },
      {
        text: "Order Price",
        sortable: true,
        value: "order_price"
      },
      {
        text: "Profit",
        sortable: true,
        value: "benefit"
      }
    ],
    headers2: [
      {
        text: "name",
        sortable: true,
        value: "name"
      },
      {
        text: "price",
        sortable: true,
        value: "price"
      },
      {
        text: "real_price",
        sortable: true,
        value: "real_price"
      }
    ],
    header: [
      "Order Id",
      "Order Item Id",
      "Real Price Menu",
      "Subtotal Topping",
      "Discount",
      "Order Price",
      "Profit"
    ],
    report: null,
    reportPopular: null
  }),

  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
    computedDateFormatted2() {
      return this.formatDate(this.date2);
    }
  },

  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },

  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    sendRep() {
      var date1 = this.date + " 00:00:00";
      var date2 = this.date2 + " 00:00:00";
      ApiService.post("/report/benefit", {
        time1: date1,
        time2: date2
      }).then(({ data }) => {
        this.report = data.data;
        this.reports = data;
      });
    },
    sendRep2() {
      ApiService.post("/report/popular-api", {
        number: this.age
      }).then(response => {
        this.reportPopular = response.data;
      });
    }
  },
  mounted() {
    ApiService.post("/report/benefit", {
      time1: "2019-05-15 00:00:00",
      time2: "2019-05-16 00:00:00"
    }).then(({ data }) => {
      this.report = data.data;
      this.reports = data;
    });
    ApiService.post("/report/popular", {
      number: 1
    }).then(({ data }) => {
      this.reportPopular = data.data;
      this.reportsPopular = data;
    });
  }
};
</script>
