<template>
  <v-container style="" fluid fill-height>
    <v-layout justify-center align-center fill-height>
      <div class="login-form-container">
        <v-form class="login-form">
          <label style="display:flex; font-size:19px"
            ><b>Reset Password</b></label
          >
          <v-text-field label="Email" v-model="email" autofocus></v-text-field>
          <v-btn @click="attemptReset" color="primary" class="pull-right"
            >Set ulang</v-btn
          >
          <v-btn @click="$router.go(-1)" color="secondary" class="pull-right"
            >Batal</v-btn
          >
        </v-form>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import ApiService from "../common/api.service";
export default {
  name: "forget-password-page",
  props: ["isReset"],
  dependencies: ["api", "service"], // add the dependencies injection
  data() {
    return {
      msg: "Ini buat forget password",
      loading: null,
      email: null
    };
  },
  beforeMount() {},
  methods: {
    attemptReset() {
      this.loading = true;
      ApiService.post("user/send", {
        email: this.email,
        type: "password",
        url: "http://127.0.0.1:8080/reset-password"
      })
        .then(response => {
          alert("Reset link has been sent");
        })
        .catch(error => {})
        .finally(() => {
          this.$router.push("/");
        });
    }
  }
};
</script>
<style scoped>
.login-form {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.login-form-container {
  text-align: center;
  padding: 10px;
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px 10px;
}
.pull-right {
  float: right !important;
}
.forgot-password {
  margin-bottom: 0px;
  margin-top: 10px;
}
</style>
