<template>
  <v-container style="" fluid fill-height>
    <v-layout justify-center align-center fill-height>
      <div class="login-form-container">
        <v-form class="login-form">
          <label style="display:flex; font-size:19px"
            ><b>Ganti kata sandi</b></label
          >
          <v-text-field
            type="password"
            label="New password"
            v-model="password"
            autofocus
          ></v-text-field>
          <v-text-field
            type="password"
            label="Confirm new password"
            v-model="password_confirmation"
          ></v-text-field>
          <v-btn @click="reset" color="primary" class="pull-right"
            >SUBMIT</v-btn
          >
          <v-btn @click="$router.go(-1)" color="secondary" class="pull-right"
            >BACK</v-btn
          >
        </v-form>
      </div>
    </v-layout>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
import ApiService from "../common/api.service";
export default {
  name: "verify-page",
  data() {
    return {
      msg: "Ini buat login",
      loading: null,
      password: null,
      password_confirmation: null
    };
  },
  computed: {},
  methods: {
    reset() {
      let data = this.$route.query;
      ApiService.post("user/change-password", {
        email: data.email,
        token: data.token,
        password: this.password,
        password_confirmation: this.password_confirmation
      })
        .then(response => {
          alert("success!");
        })
        .catch(error => {
          alert("FAILED!");
        })
        .finally(() => {
          this.$router.push("/login");
        });
    }
  }
};
</script>
