<template>
  <v-container>
    <v-layout column justify-center>
      <v-flex xs12>
        <v-card>
          <v-layout row wrap style="margin-bottom: 30px">
            <v-flex xs6 style="padding: 20px">
              <v-text-field
                v-model="newMenu.name"
                label="Name"
                placeholder="Enter the new menu's name"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs6 style="padding: 20px">
              <v-text-field
                v-model="newMenu.real_price"
                label="Cost"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs6 style="padding: 20px">
              <v-text-field
                v-model="newMenu.price"
                label="Price"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs6 style="padding: 20px">
              <v-btn color="primary" block @click="submitNewMenu">
                Add new Menu
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            Menu
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            v-if="menus"
            :headers="headers"
            :items="menus"
            :search="search"
            class="elevation-1"
          >
            <template v-slot:items="props">
              <td>{{ props.item.id }}</td>
              <td class="text-xs-right">{{ props.item.name }}</td>
              <td class="text-xs-right">{{ props.item.real_price }}</td>
              <td class="text-xs-right">{{ props.item.price }}</td>
              <td class="text-xs-right">{{ props.item.path }}</td>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ApiService from "../common/api.service";

export default {
  data: () => ({
    search: "",
    newMenu: {
      name: "",
      real_price: 0,
      price: 0
    },
    menus: null,
    headers: [
      {
        text: "id",
        align: "right",
        sortable: true,
        value: "id"
      },
      {
        text: "Name",
        align: "left",
        sortable: true,
        value: "name"
      },
      {
        text: "Cost",
        align: "right",
        sortable: true,
        value: "real_price"
      },
      {
        text: "Price",
        align: "right",
        sortable: true,
        value: "price"
      },
      {
        text: "Path",
        align: "right",
        sortable: true,
        value: "path"
      }
    ]
  }),
  mounted() {
    ApiService.get("/menu").then(data => {
      this.menus = data.data.data;
    });
  },
  methods: {
    submitNewMenu() {
      ApiService.post("/menu", {
        name: this.newMenu.name,
        real_price: this.newMenu.real_price,
        price: this.newMenu.price,
        path: ""
      }).then(() => {
        this.$router.go("/management");
      });
    }
  }
};
</script>

<style>
.v-btn {
  width: 250px !important;
}
</style>
