<template>
  <v-container fluid>
    <v-layout text-xs-center wrap>
      <v-flex xs12>
        <v-expansion-panel popout>
          <v-expansion-panel-content
            v-for="(orderItem, i) in orders"
            :key="orderItem.id"
          >
            <template v-slot:header>
              <v-layout column>
                <div v-if="orderItem.menu">
                  Order {{ i + 1 }}: {{ orderItem.menu.name }}
                </div>
                <div v-else>Order {{ i + 1 }}:</div>
                <div
                  class="topping"
                  v-for="topping in orderItem.toppings"
                  :key="topping.id"
                >
                  <div v-if="topping">
                    {{ topping.name }}
                  </div>
                </div>
              </v-layout>
            </template>
            <v-card>
              <v-stepper v-model="orderItem.orderStep">
                <v-stepper-header>
                  <v-stepper-step :complete="orderItem.orderStep > 1" step="1"
                    >Pick your menu!
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step
                    :complete="orderItem.orderStep > 2"
                    step="2"
                    @click="orderItem.orderStep = 2"
                    >Pick your toppings!
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="orderItem.orderStep > 3" step="3"
                    >Recommend!
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="orderItem.orderStep > 4" step="4"
                    >Confirm!
                  </v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
                  <v-stepper-content step="1">
                    <v-card class="mb-5">
                      <PickMenu
                        :menus="menus"
                        @childToParent="submitMenu"
                      ></PickMenu>
                    </v-card>

                    <v-btn color="primary" @click="confirmMenu(orderItem)">
                      Continue
                    </v-btn>

                    <v-btn flat>Cancel</v-btn>
                  </v-stepper-content>

                  <v-stepper-content step="2">
                    <v-card class="mb-5">
                      <PickTopping
                        :toppings="toppings"
                        @childToParent="submitTopping"
                      ></PickTopping>
                    </v-card>

                    <v-btn color="primary" @click="confirmTopping(orderItem)">
                      Continue
                    </v-btn>

                    <v-btn flat @click="orderItem.orderStep = 1">Cancel</v-btn>
                  </v-stepper-content>

                  <v-stepper-content step="3">
                    <v-card class="mb-5" height="200px">
                      <Recommendation
                        :recommendation="orderItem.recommendation"
                        :orderItem="orderItem"
                        @childToParent="submitAdditionalTopping"
                      ></Recommendation>
                    </v-card>

                    <v-btn
                      color="primary"
                      @click="confirmAdditionalTopping(orderItem)"
                      >Continue</v-btn
                    >
                    <v-btn flat @click="orderItem.orderStep = 2">Edit</v-btn>
                  </v-stepper-content>

                  <v-stepper-content step="4">
                    <v-card class="mb-5" height="200px">
                      <OrderConfirm :orders="orders"></OrderConfirm>
                    </v-card>

                    <v-btn
                      color="primary"
                      :disabled="orderItem.confirmed ? true : false"
                      @click="confirmOrderItem(orderItem)"
                      >{{
                        orderItem.confirmed ? "Confirmed" : "Confirm"
                      }}</v-btn
                    >
                    <v-btn flat @click="orderItem.orderStep = 3">Edit</v-btn>
                  </v-stepper-content>
                </v-stepper-items>
              </v-stepper>
              <v-btn
                style="margin: 31px"
                dark
                color="error"
                @click="deleteOrderItem(orderItem.id, i)"
              >
                Delete item
                <v-icon>fa fa-trash</v-icon>
              </v-btn>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-layout column align-center>
          <v-flex xs12>
            <v-btn
              style="margin-top: 20px"
              color="primary"
              dark
              @click="addOrder"
            >
              Add new Item
              <v-icon style="padding-left: 20px">fa fa-plus</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12>
            <v-btn color="primary" block dark @click="confirmOrder">
              Submit order
              <v-icon style="padding-left: 20px">fa fa-check</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Konfirmasi order
        </v-card-title>

        <v-card-text v-if="orderStatusResponse">
          Order berhasil dipesan!
          <v-layout
            column
            v-for="(orderItem, i) in orderStatusResponse.orderItems"
            :key="orderItem.id"
            style="margin: 15px"
          >
            <v-layout row>
              <div v-if="orderItem.menu">
                Order {{ i + 1 }}: {{ orderItem.menu.name }}
              </div>
              <div v-else>Order {{ i + 1 }}:</div>
              <v-spacer></v-spacer>
              <div>{{ orderItem.menu.price }}</div>
            </v-layout>
            <div
              class="topping"
              v-for="topping in orderItem.toppings"
              :key="topping.id"
            >
              <v-layout row>
                <div v-if="topping">
                  {{ topping.name }}
                </div>
                <v-spacer></v-spacer>
                <div v-if="topping">{{ topping.price }}</div>
              </v-layout>
            </div>
            <v-layout row>
              <div class="topping">Discount:</div>
              <v-spacer></v-spacer>
              <div>{{ orderItem.discount }}</div>
            </v-layout>
          </v-layout>
          <v-divider></v-divider>
          <v-layout row>
            <div>Total:</div>
            <v-spacer></v-spacer>
            <div>{{ total }}</div>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark @click="$router.push('/')">
            Lunas
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import PickMenu from "../components/PickMenu";
import PickTopping from "../components/PickTopping";
import OrderConfirm from "../components/OrderConfirm";
import Recommendation from "../components/Recommendation";
import ApiService from "../common/api.service";

export default {
  components: {
    PickMenu,
    PickTopping,
    OrderConfirm,
    Recommendation
  },
  data: () => ({
    menu: null,
    orderStep: 1,
    length: 0,
    orders: [],
    menus: [],
    pickedMenu: null,
    pickedToppings: null,
    orderId: null,
    dialog: false,
    orderStatusResponse: null,
    total: 0
  }),
  mounted() {
    ApiService.get("/menu").then(data => {
      this.menus = data.data.data;
    });
    ApiService.get("/topping").then(data => {
      this.toppings = data.data.data;
    });
    ApiService.post("/order").then(data => {
      this.orderId = data.data.data[0].id;
    });
  },
  methods: {
    addOrder() {
      let newOrder = {
        id: null,
        menu: null,
        toppings: [],
        orderStep: 1,
        recommendation: [],
        confirmed: false
      };
      this.orders.push(newOrder);
      this.length += 1;
    },
    submitMenu(menu) {
      this.pickedMenu = menu;
    },
    submitTopping(toppings) {
      this.pickedToppings = toppings;
    },
    confirmMenu(orderItem) {
      orderItem.orderStep = 2;
      orderItem.menu = this.pickedMenu;
      this.pickedMenu = [];
    },
    confirmTopping(orderItem) {
      orderItem.orderStep = 3;
      orderItem.toppings = this.pickedToppings;
      this.sendOrderItem(orderItem);
      this.pickedToppings = [];
    },
    sendOrderItem(orderItem) {
      ApiService.post("/order-item", {
        order_id: this.orderId,
        menu_id: orderItem.menu.id,
        toppings: orderItem.toppings
      }).then(data1 => {
        orderItem.recommendation = data1.data.data.recommendation;
        orderItem.id = data1.data.data.order_item_id;
      });
    },
    confirmAdditionalTopping(orderItem) {
      orderItem.orderStep = 4;
      this.pickedToppings.forEach(topping => {
        ApiService.post("/item-topping", {
          orderItemId: orderItem.id,
          toppingId: topping.id
        }).then(() => {
          orderItem.toppings.push(topping);
        });
      });
      this.pickedToppings = [];
    },
    submitAdditionalTopping(additionalTopping) {
      this.pickedToppings = additionalTopping;
    },
    confirmOrderItem(orderItem) {
      ApiService.get("/confirmation/order-item/" + orderItem.id).then(data => {
        if (data.data.data[0].status == 1) {
          orderItem.confirmed = true;
        }
      });
    },
    confirmOrder() {
      ApiService.get("/confirmation/order/" + this.orderId).then(data => {
        this.orderStatusResponse = data.data.data[0];
        this.dialog = true;
        this.calculateTotalPrice(this.orderStatusResponse);
      });
    },
    deleteOrderItem(itemId, key) {
      if (itemId != null) {
        ApiService.delete("/order-item/" + itemId).then(() => {
          this.orders.splice(key, 1);
        });
      } else {
        this.orders.splice(key, 1);
      }
    },
    calculateTotalPrice(order) {
      let subtotal = 0;
      order.orderItems.forEach(orderItem => {
        subtotal += orderItem.order_price - orderItem.discount;
      });
      this.total = subtotal;
    }
  }
};
</script>

<style>
.topping {
  padding-left: 20px;
}
.v-expansion-panel__header {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.v-expansion-panel__container {
  margin-bottom: 15px;
}
</style>
