<template>
  <v-container>
    <v-layout align-center wrap>
      <div class="headline">Please confirm your order to continue!</div>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ["orders"],
  data: () => ({
    buttonToggle: 0
  }),
  mounted() {}
};
</script>

<style>
.v-btn {
  width: 250px !important;
}
</style>
