<template>
  <v-container>
    <v-layout align-center wrap>
      <v-item-group multiple v-model="itemGroup">
        <v-item :value="topping" v-for="topping in toppings" :key="topping.id">
          <v-btn
            slot-scope="{ active, toggle }"
            :color="active ? 'primary' : ''"
            @click="submitTopping(toggle)"
          >
            {{ topping.name }}
            <v-icon v-if="active" style="padding-left: 20px"
              >fa fa-check</v-icon
            >
          </v-btn>
        </v-item>
      </v-item-group>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ["toppings"],
  data: () => ({
    buttonToggle: 0,
    itemGroup: []
  }),
  mounted() {},
  methods: {
    submitTopping(toggle) {
      toggle();
      this.$emit("childToParent", this.itemGroup);
    }
  }
};
</script>

<style>
.v-btn {
  width: 250px !important;
}
</style>
