<template>
  <v-container>
    <v-layout align-center wrap>
      <v-item-group mandatory v-model="itemGroup">
        <v-item
          @click="submitMenu"
          :value="menu"
          v-for="menu in menus"
          :key="menu.id"
        >
          <v-btn
            slot-scope="{ active, toggle }"
            :color="active ? 'primary' : ''"
            @click="submitMenu(toggle)"
            >{{ menu.name }}</v-btn
          >
        </v-item>
      </v-item-group>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ["menus"],
  data: () => ({
    buttonToggle: 0,
    itemGroup: 0
  }),
  mounted() {},
  methods: {
    submitMenu(toggle) {
      toggle();
      this.$emit("childToParent", this.itemGroup);
    }
  }
};
</script>

<style>
.v-btn {
  width: 250px !important;
}
</style>
