<template>
  <v-container>
    <v-layout align-center wrap>
      <v-item-group multiple v-model="itemGroup">
        <v-item
          :value="recommendedTopping"
          v-for="recommendedTopping in recommendation"
          :key="recommendedTopping.id"
        >
          <v-btn
            slot-scope="{ active, toggle }"
            :color="active ? 'primary' : ''"
            @click="submitAdditionalTopping(toggle)"
            aria-readonly
          >
            {{ recommendedTopping.name }}
            <v-icon v-if="active" style="padding-left: 20px"
              >fa fa-check</v-icon
            >
          </v-btn>
        </v-item>
      </v-item-group>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ["orderItem", "recommendation"],
  data: () => ({
    buttonToggle: 0,
    itemGroup: []
  }),
  mounted() {},
  methods: {
    submitAdditionalTopping(toggle) {
      toggle();
      this.$emit("childToParent", this.itemGroup);
    }
  }
};
</script>

<style>
.v-btn {
  width: 250px !important;
}
</style>
