<template>
  <v-app id="inspire">
    <v-navigation-drawer
      fixed
      clipped
      class="grey lighten-4"
      app
      v-model="drawer"
    >
      <v-list dense class="grey lighten-4">
        <template v-for="(item, i) in items">
          <v-layout row v-if="item.heading" align-center :key="i">
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <v-btn small flat>edit</v-btn>
            </v-flex>
          </v-layout>
          <v-divider
            dark
            v-else-if="item.divider"
            class="my-3"
            :key="i"
          ></v-divider>
          <v-list-tile :key="i" v-else>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" height="50px" app fixed clipped-left>
      <v-toolbar-side-icon
        @click.native="drawer = !drawer"
      ></v-toolbar-side-icon>
      <!-- <img src="@/assets/167623.png" alt="Logo.png" style="height: 65px; width: 92px"> -->
      <v-spacer></v-spacer>
      <v-btn icon dark @click="$router.push('/cart')"
        ><v-icon>fa-shopping-cart</v-icon>
      </v-btn>
      <v-btn icon dark @click="$router.push('/Report')"
        ><v-icon>fa fa-file</v-icon>
      </v-btn>
      <v-btn icon dark @click="$router.push('/')"
        ><v-icon>fa-home</v-icon>
      </v-btn>
      <v-btn
        v-if="user.getToken() == null"
        icon
        dark
        @click="$router.push('/login')"
        ><v-icon>far fa-user</v-icon>
      </v-btn>
      <v-btn v-else icon dark @click="logout()"
        ><v-icon>fa fa-sign-out-alt</v-icon>
      </v-btn>
    </v-toolbar>
    <router-view id="content-container" style="margin-top:50px" />
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "App",
  data: () => ({
    drawer: false,
    items: [
      { icon: "lightbulb_outline", text: "Notes" },
      { icon: "touch_app", text: "Reminders" },
      { divider: true },
      { heading: "Labels" },
      { icon: "add", text: "Create new label" },
      { divider: true },
      { icon: "archive", text: "Archive" },
      { icon: "delete", text: "Trash" },
      { divider: true },
      { icon: "settings", text: "Settings" },
      { icon: "chat_bubble", text: "Trash" },
      { icon: "help", text: "Help" },
      { icon: "phonelink", text: "App downloads" },
      { icon: "keyboard", text: "Keyboard shortcuts" }
    ]
  }),
  props: {
    source: String
  },
  methods: {
    logout() {
      this.user.removeToken();
      this.$router.go("/");
    }
  },
  computed: {
    ...mapState(["user"])
  },
  mounted() {}
};
</script>

<style>
#keep main .container {
  height: 660px;
}

.navigation-drawer__border {
  display: none;
}

.text {
  font-weight: 400;
}

#content-container {
  margin-top: 50px;
}

.v-text-field {
  height: 48px;
}

.v-icon {
  font-size: 20px;
}

.v-icon:hover {
  transform: scale(1.1);
}
</style>
